.login-page {
  display: flex;
  flex-direction: row;

}

@media screen and (min-width: 600px) {
  .login-image {
    display:inline; /* change the default display type to inline-block */
    overflow: hidden;  
    width: 70vw;
    background-image: url(../images/confetti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
