.footer {
  position: fixed;
  height: 7vh;
  bottom: 0;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
}
.messages-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  
}

.messages-container {
  display: flex;
  max-width: 500px;
  flex-direction: column-reverse;
  width: 85vw;
  height: 68vh;
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: scroll; 

}

.left {
  display: flex;
  
  align-items: flex-start;
  flex-direction: column;
  
}

.right {
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
}

.message-input {
  width: 80vw;
  max-width: 500px;
}

.small {
  font-size: .6rem;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  
}

.message-blue {
  width: fit-content;
  max-width: 60vw;
  background-color: rgb(36, 153, 237);
  color: white;
  margin-top: 10px;
  padding: 12px;
  border-radius: 15px;
}
.message {
  width: fit-content;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
  color: rgb(48, 48, 48);
  margin-top: 10px;
  padding: 12px;
  border-radius: 15px;
  
}

.message-text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
