.new-wedding-page-title {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-wedding-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-wedding-page-form-input {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.new-wedding-page-form-button {
  margin: 10px;
  width: 300px;
  text-align: center;
}