.threads-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.thread-list-item {
  background-color: rgba(243, 243, 243, 0.689);
  border-radius: 8px;
}

.thread-list-item:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 8px;
  border-color: rgba(243, 243, 243, 0.689);
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  box-shadow: 1px 1px #88888830;
}
